/*
*Estilos generales
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-size: cover;
  padding-top: 4.5em;
}

.navright {
	float: right;
}

