
/*
*Estilos generales
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-size: cover;
  padding-top: 4.5em;
}

.navright {
	float: right;
}



#video{
	width: 100%;
	min-width: 100%;
	min-height:5%;

}

.datos{
	width: 100%;
	height: auto;


}

.colum1{
	background-color: #CEFDCF;

}

.colum2{
	background-color: #A7B1FF;
}

